<MudPaper Width="250px" Class="nav-menu-paper py-3" Elevation="1">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4 nav-menu-title">AHT Dashboard</MudText>
        <MudText Typo="Typo.body2" Class="px-4 nav-menu-subtitle">Select Your Credentials</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard" Class="nav-link">Dashboard</MudNavLink>
        <MudNavLink Href="/customTag" Icon="@Icons.Material.Filled.AddCard" Class="nav-link">Add Tag</MudNavLink>
        <MudNavLink Href="/debt" Icon="@Icons.Material.Filled.AddCard" Class="nav-link">Add Debts</MudNavLink>
        <MudNavLink Href="/transactions" Icon="@Icons.Material.Filled.AddCard" Class="nav-link">Add Transactions</MudNavLink>
        <MudNavLink OnClick="ShowLogoutConfirmation" Icon="@Icons.Material.Filled.Logout">Logout</MudNavLink>
    </MudNavMenu>
</MudPaper>

@if (IslogOut)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block; background-color: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: auto;">
        <div class="modal-dialog" role="document" style="margin-top: 20%; margin-left: auto; margin-right: auto; max-width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Logout</h5>
                    <button type="button" class="close" @onclick="HideLogoutConfirmation">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="HideLogoutConfirmation">No</button>
                    <button type="button" class="btn btn-primary" @onclick="Logout">Yes</button>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .nav-menu-paper {
        background-color: #6A1B9A;
        color: white;
        border-radius: 8px;
    }

    .nav-menu-title {
        color: #FAFAFA;
        font-weight: bold;
    }

    .nav-menu-subtitle {
        color: #FAFAFA;
        margin-bottom: 0.5rem;

    }

    .nav-link {
        color: #FAFAFA;
        font-weight: 900;
        
    }

    .nav-link:hover {
        color: #ffffff;
    }
</style>
